<body>
    <form>
      <b>Nombre</b><br>
      <input type="text"      name="nombre"     [(ngModel)]="form.nombre" ><br>
      <b>Contraseña</b><br>
      <input type="password"  name="pass"       [(ngModel)]="form.pass"><br><br>

      <b>Numero de telefono</b><br>
      <input type="text"      name="telefono"   [(ngModel)]="form.telefono"><br>
      <b>Direccion</b><br>
      <input type="text"      name="direccion"  [(ngModel)]="form.direccion" ><br><br>

      <b>Foto</b><br>
      <input type="file"      name="foto"       [(ngModel)]="form.foto"><br><br>

      <input type="submit"    name="subAlta"     (click)="Alta()" value="Registrarse">
    </form>  
 
</body>
